// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.locations {
    table {
        border-collapse: collapse;
    }

    table tr td {
        padding: 5px;
        vertical-align: top;
    }

    .list_image {
        max-width: 100px;
        max-height: 100px;
    }

    .list_line {
        width: 70%;
    }

    .list_actions {
        font-size: x-small;
        text-align: right;
        padding-left: 1em;
    }

}
